Source: avmp
Section: unknown
Priority: optional
Maintainer: Jonathan Barron <up661670@myport.ac.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/Jnnybrrn/avmp

Package: avmp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-yaml, python-pip
Description: avmp - Automatic Virtual Machine Provisioner
 Automatic Virtual Machine Provisioner - create re-usable Virtual machine
 environments.
